header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 20px;
  background-color: #ddd;
}

header .content {
  font-family: sans-serif;
}

header h1, h3 {
  color: #555;
  margin: 0;
  padding: 0;
}

header .logo img {
  margin-right: 10px;
  float: left;
  width: 100px;
  height: 100px;
  background-color: white;
}

nav.top {
  margin-left: -20px;
  margin-top: 60px;
  background-color: #555;
  height: 50px;
}

nav.top a {
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  display: table-cell;
  height: 50px !important;
}

nav.top a:hover {
  background-color: white;
  color: black;
}

nav.top a.active {
  background-color: white;
  color: black;
}

nav.top ul {
  padding-left: 10px !important;
  margin: 0;
  padding: 0;
  height: inherit;
}

nav.top ul li {
  display: inline-block;
  height: inherit;
}

.main {
  margin-top: 190px;
  padding-top: 20px;
}

.main .left-row {
  background-color: #ddd;
  padding: 20px;
  width: 250px;
  position: fixed;
  height: 100%;
}

.main .left-row ul {
  background-color: #555;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  font-family: sans-serif;
}

.main .left-row ul li {
  padding-left: 25px;
  padding-top: 15px;
}

.main .left-row ul li:last-child {
  padding-bottom: 15px;
}


.main .left-row a {
  color: white;
  text-decoration: none;
}

.main .content {
  overflow: auto;
  margin-left: 290px;
  padding: 20px;
  font-family: sans-serif;
}

.main .content h2 {
  color: #555;
  margin: 0;
}

footer {
  position: fixed;
  height: 50px;
  background-color: #555;
  width: 100%;
  bottom: 0;
}
