@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
@font-face {
  font-family: 'GothamSSm-Book';
  src: url('font/gotham/GothamSSm-Book.ttf');
  src: url('font/gotham/GothamSSm-Book.eot');
  src: url('font/gotham/GothamSSm-Book.woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm-Light';
  src: url('font/gotham/GothamSSm-Light.ttf');
  src: url('font/gotham/GothamSSm-Light.eot');
  src: url('font/gotham/GothamSSm-Light.woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm-Medium';
  src: url('font/gotham/GothamSSm-Medium.ttf');
  src: url('font/gotham/GothamSSm-Medium.eot');
  src: url('font/gotham/GothamSSm-Medium.woff');
  font-weight: lighter;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

body {
  background: #d9d9d9;
}

a {
  text-decoration: none;
  font-size: 15px;
}
  a:hover {
    text-decoration: underline;
  }


.calendar-month h1, h2, p, span, a {
  color: #fff;
  margin: 0;
  padding: 0;
}

/*Calendar*/
.scnd-font-color {
  color: #666;
}

.titular {
  font-family: 'GothamSSm-Book';
  font-size: 12pt;
  display: block;
  line-height: 63px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container {
  float: left;
}

.arrow-btn-container {
  background-color: rgb(64, 74, 88);
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
  .arrow-btn {
    position: absolute;
    display: block;
    width: 85px;
    height: 63px;
    -webkit-transition: background .3s;
    transition: background .3s;
  }
    .arrow-btn:hover {
      text-decoration: none;
    }
    .arrow-btn.left {
      border-top-left-radius: 4px;
    }
    .arrow-btn.right {
      border-top-right-radius: 4px;
      right: 0;
      top: 0;
    }
    .arrow-btn .icon {
      display: block;
      font-size: 20px;
      line-height: 22px;
      width: 21px;
      margin: 20px auto;
      text-align: center;
    }
      .arrow-btn.left .icon {
        padding-right: 2px;
      }

.calendar-month {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.44);
  position: absolute;
  left: 54px;
  top: 55px;
  width: 346px;
  height: 427px;
}
  .calendar-month .arrow-btn:hover {
    background: rgb(84, 94, 101);
  }
  .calendar {
    margin: 12px 30px;
    text-align: center;
  }
    .calendar a {
      font-size: 17px;
    }
    .calendar td {
      color: #c5c5c5;
      font-size: 10pt;
    }
      .calendar td a {
        font-size: 10pt;
      }
    .calendar th {
      font-family: 'GothamSSm-Medium' !important;
      color: #666;
      font-size: 10pt;
    }
    .calendar td, .calendar th {
      width: 40px;
      height: 39px;
      font-family: 'GothamSSm-Book';
    }
    .calendar .days-week {
      color: #4fc4f6;
    }
    .calendar .has-events {
      color: #fb6362;
      font-weight: bold;
    }
    .calendar .today {
      display: block;
      width: 40px;
      line-height: 34px;
      color: white;
      background: #fb6362;
      border-radius: 100%;
    }

.add-event.button:hover {
  background: #c32c2b;
}

.add-event.button {
  background: #fb6362;
  margin: 20px auto !important;
  width: 299px;
  font-family: 'GothamSSm-Book'
}

.button:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.button {
  display: block;
  width: 175px;
  line-height: 59px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  -webkit-transition: background .3s;
  transition: background .3s;
}

/*END Calendar*/

/*Booking*/
.booking {
  border-radius: 4px;
  background-color: rgb(251, 251, 251);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.44),inset 0px 2px 0px 0px rgba(255, 255, 255, 0.36);
  position: absolute;
  left: 54px;
  top: 532px;
  width: 346px;
  height: 626px;
}

  .booking-header h1, h2, span, a {
    color: #fff;
    padding: 0;
    margin: 0;
  }

  .booking-header .title .name {
    font-family: 'GothamSSm-Book';
    font-size: 9pt;
  }

  .booking-header .title .place {
    font-family: 'GothamSSm-Light';
  }

  .booking-header {
    height: 185px;
  }

.booking .title {
  left: 23px;
  z-index: 2;
  position: absolute;
  top: 118px;
}

  .place {
    line-height: 40px;
    margin-top: -1px;
    margin-left: 3px;
  }

  .place span {
    font-size: 19px !important;
  }

  .place span, p {
    display: inline-block;
    font-size: 14px;
  }

  .header img {
    z-index: 1;
  }

  .form {
    left: 23px;
  }

  .form .field {
    clear: both;
    margin-top: 20px;
  }

  .form .field>label {
    display: block;
  }

  .form .field>input[type='text'] {
    border-radius: 2px;
    background-color: rgb(244, 244, 244);
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    width: 296px;
    height: 46px;
    z-index: 230;
  }
/*END Booking*/
